* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top, #1a1a1c, #0c0c0c 60%);
  color: #fff;
}

.root {
  display: flex;
  justify-content: center;
}

input:focus,
button:focus {
  outline: none;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  width: 100%;
  max-width: 1440px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  text-transform: capitalize;
}

.logo img {
  width: 40px;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.playlist-section {
  width: 30%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    font-size: 30px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  input {
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px 2px;

    &:placeholder {
      color: #f5f5f5;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    width: 100%;
    height: 30px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  max-height: 350px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.playlist-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 26px;
  }

  button {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 18px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
}

.playlist select {
  height: 40px;
  padding: 10px 5px;
  color: #fff;
  border-radius: 10px;

  option {
    text-transform: capitalize;
    background-color: #1a1a1c;
  }
}

.playlist-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  
  button{
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
  }
}

.empty-text{
  opacity: 0.4;
}
